:root {
    --text: #230252;
    --faded: #5459a0;
    --highlight: #2020e4;
    --block: #badbff;
    --background: #acb5fb;
}

html {
    background: var(--background);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    color: var(--text);
}

a {
    text-decoration: none;
}

main {
    background: var(--background);
    padding: 30px;
}

.text-block {
    width: 90%;
    margin: 40px auto;
    background: var(--block);
    padding: 20px;
    border: 2px solid var(--text);
    border-radius: 10px;
    text-align: left;
}


@media only screen and (orientation: landscape) and (min-width: 768px) {
    main {
        padding: 30px 15%;
    }
}